[google_drive]
# Use the file IDs from public/shared Google Drive links.
# Example link: https://drive.google.com/file/d/FILE_ID/view?usp=sharing
ethiopia_file_id = ""
kenya_file_id = ""
sudan_file_id = ""
tanzania_file_id = ""
nigeria_file_id = ""
